Source: ros-dashing-automotive-autonomy-msgs
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-ros-workspace
Homepage: http://github.com/automotive_autonomy_msgs
Standards-Version: 3.9.2

Package: ros-dashing-automotive-autonomy-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-automotive-navigation-msgs, ros-dashing-automotive-platform-msgs, ros-dashing-ros-workspace
Description: Messages for vehicle automation
