Source: ros-kinetic-automotive-autonomy-msgs
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://github.com/automotive_autonomy_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-automotive-autonomy-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-automotive-navigation-msgs, ros-kinetic-automotive-platform-msgs
Description: Messages for vehicle automation
